format = """
[](#9A348E)\
$os\
$username$hostname\
[](bg:#DA627D fg:#9A348E)\
$directory\
[](fg:#DA627D bg:#FCA17D)\
$git_branch\
$git_status\
$git_state\
[](fg:#FCA17D bg:#86BBD8)\
$c\
$golang\
$nodejs\
$rust\
[](fg:#86BBD8)\
"""

right_format = """
[ ](fg:#33658A)\
$status
[\ue0b4](fg:#33658A)
"""

# Disable the blank line at the start of the prompt
add_newline = false

# You can also replace your username with a neat symbol like   or disable this
# and use the os module below
[username]
show_always = false
style_user = "bg:#9A348E"
style_root = "bg:#9A348E"
format = '[$user]($style)'
disabled = false

[hostname]
ssh_only = true
format ="[@$hostname ]($style)"
style = "bg:#9A348E"

# An alternative to the username module which displays a symbol that
# represents the current operating system
[os]
style = "bg:#9A348E"
disabled = false # Disabled by default

[directory]
style = "bg:#DA627D"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

# Here is how you can shorten some long paths by text replacement
# similar to mapped_locations in Oh My Posh:
[directory.substitutions]
"Documents" = " "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
# Keep in mind that the order matters. For example:
# "Important Documents" = "  "
# will not be replaced, because "Documents" was already substituted before.
# So either put "Important Documents" before "Documents" or use the substituted version:
# "Important  " = "  "

[c]
symbol = " "
style = "fg:#0b4f68 bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[docker_context]
symbol = " "
style = "bg:#06969A"
format = '[ $symbol $context ]($style) $path'

[git_branch]
symbol = ""
style = "fg:#484848 bg:#FCA17D"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "fg:#484848 bg:#FCA17D"
format = '[$all_status$ahead_behind ]($style)'

[git_state]
style = "fg:#980000 bg:#FCA17D"
format ="\\([$state( $progress_current/$progress_total) ]($style)\\) "

[golang]
symbol = " "
style = "fg:#0b4f68 bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = ""
style = "fg:#0b4f68 bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "fg:#0b4f68 bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:#33658A"
format = '[ ♥ $time ]($style)'

[status]
disabled = false
success_symbol = "\uf00c"
style = "bg:#33658A"
map_symbol = true
format = "[$symbol $common_meaning$signal_name$maybe_int]($style)"